.title {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #455A64;
}

.event-item {
    text-align: center;
}

.event-item > i {
    color: #0091EA;
}

td {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

table {
    border-spacing: 10px;
    border-collapse: separate;
}

paper-button.event-button {
    background-color: #0D47A1;
    color: white;
}

paper-input.event-input {
    /*background-color: #607D8B;*/
    color: white;
}

paper-checkbox {
    font-size: larger;
}
.collapse-content {
    margin-top: 6px;
    padding: 15px;
    border: 1px solid #dedede;
}
.event-button {
    width: 95%;
    font-size: 18px;
}
.event-icon {
    margin-left: 200px;
}
.event-data {
    margin-top: 12px;
    margin-bottom: 12px;
}

#battery-value {
    text-align: center;
    color: var(--paper-grey-600);
}
.hidden-alert {
    display:none;
}

paper-card {
    background-color: #00AA8D;
    color: black;
}

#create {
    width: 50%;
    background-color: #2196F3;
}

.event-data > iron-collapse {
    background-color: white;
    opacity: 0.6;
}