body {
    margin: 0;
}
.container {
    margin-top: 80px;
}
#create {
    width: 95%;
}
.hidden {
    display:none;
}
.card-header {
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -.012em;
    line-height: 32px;
}
.card-message {
    color: #757575;
}
paper-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    margin-right: 6px;
}
.copy {
    margin-left: 12px;
    margin-right: 12px;
}