body {
    margin: 0;
}

app-toolbar {
    background-color: #1E88E5;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: white;
    --app-toolbar-font-size: 24px;
}

.container {
    margin-top: 24px;
    margin-left: 12px;
    margin-right: 12px;
}

.title {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', Helvetica, sans-serif;
}

i {
    margin-left: 6px;
    margin-right: 6px;
}

paper-card {
    margin-bottom: 12px;
    width: 100%;
    opacity: 0.7;
}

.card-header {
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #424242;
}

.card-description {
    margin-top: 12px;
    color: #616161;
}

.justified {
    text-align: justify;
}

.card-actions {
    color: #212121;
}