body {
    margin: 0;
    margin-left: -5px;
}

app-toolbar {
    background-color: #1E88E5;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: white;
    --app-toolbar-font-size: 24px;
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
    display: none;
}

iron-icon {
    margin-right: 12px;
}

paper-button {
    width: 100%;
    height: 50vh;
}

paper-button.amber {
    background-color: #FFC107;
    color: white;
}

paper-button.amber > span {
    font-size: 24px;
    font-weight: bold;
    margin-top: 140px;
    margin-left: -90px;
}

paper-button.amber > i {
    margin-left: 20px;
}

paper-button.red {
    background-color: #F44336;
    color: white;
}

paper-button.red > span {
    font-size: 24px;
    font-weight: bold;
    margin-top: 140px;
    margin-left: -85px;
}